In [8]:
import pandas as pd
#from pandas_datareader import DataReader
import numpy as np
from pandas import json_normalize
#import matplotlib.pyplot as plt
#import seaborn as sns
import streamlit as st
import base64
import plotly.express as px
from PIL import Image
import plotly.graph_objects as go

##stock packages
#from yahoo_fin import stock_info as si
import yfinance as yfin
#from get_all_tickers import get_tickers as gt

## web crawling packages
import time
import requests
#import lxml.html as lh
from lxml import html
import csv

# yfinance not working

In [105]:
stock = "A"

In [106]:
ticker = yfin.Ticker(stock)

In [107]:
info = ticker.info
info_df = json_normalize(info)
info_df

,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,companyOfficers,website,...,fromCurrency,fiveYearAvgDividendYield,fiftyTwoWeekLow,bid,tradeable,dividendYield,bidSize,dayHigh,regularMarketPrice,logo_url
0,95051,Healthcare,16500,"Agilent Technologies, Inc. provides applicatio...",Santa Clara,800 227 9770,CA,United States,[],http://www.agilent.com,...,None,0.82,93.87,150.31,False,0.0052,800,150.5,150.3,https://logo.clearbit.com/agilent.com

In [108]:
dividends = ticker.dividends
dividends

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [98]:
calendar = ticker.calendar
calendar

                                Value
Earnings Date     2021-08-17 00:00:00
Earnings Average                 0.99
Earnings Low                     0.97
Earnings High                    1.03
Revenue Average            1539440000
Revenue Low                1519000000
Revenue High               1575600000

In [99]:
quarterly_earnings = ticker.quarterly_earnings
quarterly_earnings

            Revenue   Earnings
Quarter
3Q2020   1261000000  199000000
4Q2020   1483000000  222000000
1Q2021   1548000000  288000000
2Q2021   1525000000  216000000

In [109]:
period = "3mo"

In [110]:
prices = ticker.history(period = period)
prices

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [92]:
msft = yfin.Ticker("MSFT")
msft.history(period="max")

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [10]:
recommendations = ticker.recommendations
recommendations

                                Firm    To Grade From Grade Action
Date
2012-02-16 06:01:00    Deutsche Bank         Buy              main
2012-03-06 09:28:00   Morgan Stanley  Overweight              init
2012-04-19 08:35:00  Stifel Nicolaus         Buy              main
2012-05-15 06:14:00   Morgan Stanley  Overweight              main
2012-05-15 08:07:00  Stifel Nicolaus         Buy              main
...                              ...         ...        ...    ...
2021-05-26 10:10:42          Keybanc  Overweight              main
2021-05-26 10:20:35      SVB Leerink  Outperform              main
2021-05-26 12:08:05      Wells Fargo  Overweight              main
2021-05-26 12:11:55            Baird  Outperform              main
2021-05-26 12:26:29        Citigroup         Buy              main

[141 rows x 4 columns]

In [13]:
recommendations.groupby(['Action', 'To Grade']).size()

Action  To Grade
down    Equal-Weight     1
        Hold             2
        Neutral          3
        Outperform       1
        Sell             1
init    Buy              2
        Equal-Weight     1
        Hold             2
        Neutral          4
        Outperform       3
        Overweight       5
main    Buy             37
        Equal-Weight     8
        Hold             3
        Neutral         11
        Outperform      14
        Overweight      31
up      Buy              5
        Outperform       4
        Overweight       2
        Strong Buy       1
dtype: int64

In [17]:
recommendations_agg = pd.DataFrame(recommendations.groupby(['To Grade', 'Firm']).size()).reset_index()
recommendations_agg.columns = ['Grade', 'Firm', 'Count of Analyst']
recommendations_agg

           Grade                Firm  Count of Analyst
0            Buy       BTIG Research                 2
1            Buy     Bank of America                 6
2            Buy           Citigroup                 7
3            Buy       Deutsche Bank                 4
4            Buy  Evercore ISI Group                 1
5            Buy       Goldman Sachs                 4
6            Buy           ISI Group                 1
7            Buy           Jefferies                 7
8            Buy    Longbow Research                 1
9            Buy             Needham                 1
10           Buy     Stifel Nicolaus                 5
11           Buy                 UBS                 5
12  Equal-Weight     Bank of America                 2
13  Equal-Weight            Barclays                 5
14  Equal-Weight      Morgan Stanley                 3
15          Hold       Deutsche Bank                 3
16          Hold             Needham                 1
17          Hold              Stifel                 1
18          Hold     Stifel Nicolaus                 2
19       Neutral   B of A Securities                 1
20       Neutral       BTIG Research                 1
21       Neutral               Baird                 1
22       Neutral     Bank of America                 1
23       Neutral           Citigroup                 6
24       Neutral       Goldman Sachs                 1
25       Neutral      Janney Capital                 1
26       Neutral                 UBS                 6
27    Outperform               Baird                 6
28    Outperform                CLSA                 1
29    Outperform         Cowen & Co.                 6
30    Outperform       Credit Suisse                 1
31    Outperform  Evercore ISI Group                 1
32    Outperform       Leerink Swann                 1
33    Outperform         SVB Leerink                 5
34    Outperform         Wells Fargo                 1
35    Overweight            Barclays                 8
36    Overweight           ISI Group                 2
37    Overweight           JP Morgan                 5
38    Overweight             KeyBanc                 2
39    Overweight             Keybanc                 1
40    Overweight      Morgan Stanley                14
41    Overweight       Piper Jaffray                 1
42    Overweight         Wells Fargo                 5
43          Sell      S&P Capital IQ                 1
44    Strong Buy           ISI Group                 1

## Other Sources for stock price data

In [ ]:
https://www.google.com/search?q=TSLA&rlz=1C1UEAD_enUS961US961&sxsrf=ALeKk00ViasBzd4XWeuDy9BznJVJq3dHrA%3A1626654221184&ei=Dcb0YO3dCsnItQbh2aXQBg&oq=TSLA&gs_lcp=Cgdnd3Mtd2l6EAMyBwgAELEDEEMyBQgAELEDMgUIABCxAzIHCAAQhwIQFDIFCAAQsQMyBQgAELEDMgUIABCxAzIFCAAQsQMyBAgAEAoyBAgAEAo6BAgjECc6BAgAEEM6CgguELEDEIMBEEM6CwguELEDEMcBEKMCOgIIADoHCC4QsQMQQ0oECEEYAFDpRljvSWCwTWgAcAJ4AIABSYgBygKSAQE1mAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=gws-wiz&ved=0ahUKEwitmJqY7-3xAhVJZM0KHeFsCWoQ4dUDCA4&uact=5

In [ ]:
https://www.google.com/search?q=AAPL&rlz=1C1UEAD_enUS961US961&sxsrf=ALeKk01hdLRKzYzwhqLYMjPPblLVSd4e3Q%3A1626654232096&ei=GMb0YI2WBdWE9PwPhJOGmAM&oq=AAPL&gs_lcp=Cgdnd3Mtd2l6EAMyDAgjECcQnQIQRhD6ATIKCAAQhwIQsQMQFDIFCAAQsQMyBQgAELEDMgUIABCxAzIFCAAQsQMyBQgAELEDMgIIADIFCAAQsQMyBQgAELEDOgQIIxAnOgQIABBDOgoILhDHARCjAhBDOggIABCxAxCDAToNCC4QsQMQxwEQowIQQ0oECEEYAFC43QNY998DYN7jA2gAcAJ4AIABoASIAZwHkgEJMS4zLTEuMC4xmAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=gws-wiz&ved=0ahUKEwiNgrSd7-3xAhVVAp0JHYSJATMQ4dUDCA4&uact=5

In [90]:
ticker = 'AAPL'

In [91]:
pt1 = 'https://www.google.com/search?q='
pt2 = '&rlz=1C1UEAD_enUS961US961&sxsrf=ALeKk00ViasBzd4XWeuDy9BznJVJq3dHrA%3A1626654221184&ei=Dcb0YO3dCsnItQbh2aXQBg&oq=TSLA&gs_lcp=Cgdnd3Mtd2l6EAMyBwgAELEDEEMyBQgAELEDMgUIABCxAzIHCAAQhwIQFDIFCAAQsQMyBQgAELEDMgUIABCxAzIFCAAQsQMyBAgAEAoyBAgAEAo6BAgjECc6BAgAEEM6CgguELEDEIMBEEM6CwguELEDEMcBEKMCOgIIADoHCC4QsQMQQ0oECEEYAFDpRljvSWCwTWgAcAJ4AIABSYgBygKSAQE1mAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=gws-wiz&ved=0ahUKEwitmJqY7-3xAhVJZM0KHeFsCWoQ4dUDCA4&uact=5'
url = pt1 + ticker + pt2

r = requests.get(url)
data = html.fromstring(r.text)

# Xpath
alldata =[]

#time.sleep(2)

for i in data.xpath("//li[contains(@class,'js-stream-content Pos(r)')]"):
    stock = i.xpath('div/div/div[2]/h3/a/text()')
    #url = i.xpath('a/@href')[0]
    #year = i.xpath('span[2]/text()')   
    #print(title, url, year)
    alldata.append([stock])
    
len(alldata)

0

In [40]:
# Request the page
page = requests.get('https://stockanalysis.com/stocks/')

In [41]:
# Parsing the page
# (We need to use page.content rather than 
# page.text because html.fromstring implicitly
# expects bytes as input.)
tree = html.fromstring(page.text)

In [42]:
# Get element using XPath
buyers = tree.xpath('//p/text()')
print(buyers)

['Our stock overview pages show detailed information about individual stocks. This includes stock price, detailed quote, interactive chart, key metrics, and financials.', 'Use the search box above to search for a stock, or use CTRL+F or CMD+F on your keyboard to look through the list below.', 'For recent stock changes, explore the ', '.', 'There are now 6713 stocks listed, with more added regularly.', 'Get the latest investing and finance articles in your inbox.', 'Read the ', '.']

In [19]:
r = requests.get('https://stockanalysis.com/stocks/')
data = html.fromstring(r.text)

# Xpath
alldata =[]

for i in data.xpath("//li"):
    stock = i.xpath('a/text()')
    url = i.xpath('a/@href')[0]
    #year = i.xpath('span[2]/text()')   
    #print(title, url, year)
    alldata.append([stock, url])
    
#    news = []
    
#    for i in alldata:
#        url = i[1]
#        data = html.fromstring(requests.get(url).text)
    
#        for j in data.xpath("//div[@class='top-part']"):
#            text = j.xpath("div/h1/text()")
#            news.append([stock, text])
            
    #alldata.append([stock, url, news])
    
len(alldata)

IndexError: list index out of range

In [44]:
del alldata[0:12]
len(alldata)

6737

In [45]:
del alldata[-17:-1]
len(alldata)

6721

In [46]:
del alldata[-1]
len(alldata)

6720

In [50]:
##script to continue getting detail from stock ticker website
#industry = []
    
#for i in alldata:
    #url = i[1]
    #data = html.fromstring(requests.get(url, timeout = 5).text)
    #time.sleep(1)
    
    #for j in data.xpath("//div[@class='sidew descr']"):
        #text = j.xpath('table/tbody/tr[1]/td[1]/div/text()')
        #article_url = j.xpath('div[2]/div/a/@href')
        #article_short_text = j.xpath('div[2]/div[2]/p/text()')
        #news_date = j.xpath('div[2]/div[4]/span[1]/text()')
        #news_source = j.xpath('div[2]/div[4]/span[2]/text()')
        #industry.append([i[0], i[1], text])
#len(industry)
#industry.to_csv('data/ticker&industry.csv')

In [47]:
df = pd.DataFrame(alldata)
df[0]=df[0].str[0]
#df = df.iloc[12:-17]
df = df.rename(columns = {0: 'full', 1: 'url'})
df['full'] = df['full'].astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6720 entries, 0 to 6719
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   full    6720 non-null   object
 1   url     6720 non-null   object
dtypes: object(2)
memory usage: 105.1+ KB

In [48]:
split = df["full"].str.split("-", n = 1, expand = True)
df['ticker'] = split[0]
df['company_name'] = split[1]
df.head()

,full,url,ticker,company_name
0,A - Agilent Technologies,https://stockanalysis.com/stocks/a/,A,Agilent Technologies
1,AA - Alcoa,https://stockanalysis.com/stocks/aa/,AA,Alcoa
2,AAC - Ares Acquisition,https://stockanalysis.com/stocks/aac/,AAC,Ares Acquisition
3,AACE - Alexandria Agtech/Climate Innovation,https://stockanalysis.com/stocks/aace/,AACE,Alexandria Agtech/Climate Innovation
4,AACG - ATA Creativity Global,https://stockanalysis.com/stocks/aacg/,AACG,ATA Creativity Global

In [49]:
df['ticker'] = df.ticker.str.strip()
#df.index = df['ticker']
#df.index = df.index.astype(str)

In [50]:
df.to_csv('data/tickers_only.csv')

In [51]:
ticker_list = df['ticker']
ticker_list

0                       A
1                      AA
2                     AAC
3                    AACE
4                    AACG
              ...
6715                  nan
6716            Investing
6717         Stock Market
6718    Financial Metrics
6719    Stock Information
Name: ticker, Length: 6720, dtype: object

In [117]:
data = []

for i in ticker_list:
    stock = i
    ticker = yfin.Ticker(stock)
    info = ticker.info
    #info_df = json_normalize(info)
    #info_df['ticker'] = i
    #info_df.index = info_df['ticker']
    data.append([i, info])
    #print(ticker.info)
len(data)

2

In [80]:
ticker_info = pd.DataFrame(data)
ticker_info = ticker_info.rename(columns = {0: 'ticker', 1: 'info'})
ticker_info

,ticker,info,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
1,[],[[]],[],[],[],"[[[], [<Element div at 0x2136ae98630>, <Elemen...",[],"[[[], [<Element div at 0x2136ae98590>, <Elemen...",[],[],...,None,None,None,None,None,None,None,None,None,None

In [119]:
ticker_info['info'].apply(pd.Series)

,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,companyOfficers,website,...,pegRatio,lastCapGain,shortPercentOfFloat,sharesShortPriorMonth,impliedSharesOutstanding,category,fiveYearAverageReturn,regularMarketPrice,logo_url,address2
0,95051,Healthcare,16400,"Agilent Technologies, Inc. provides applicatio...",Santa Clara,800 227 9770,CA,United States,[],http://www.agilent.com,...,2.92,None,0.0096,2352823,None,None,None,128.0,https://logo.clearbit.com/agilent.com,NaN
1,15212-5858,Basic Materials,12900,"Alcoa Corporation, together with its subsidiar...",Pittsburgh,412-315-2900,PA,United States,[],http://www.alcoa.com,...,0.07,None,0.0591,10304058,None,None,None,32.2,https://logo.clearbit.com/alcoa.com,Suite 500

In [120]:
ticker_data = pd.concat([ticker_info.drop(['info'], axis=1), ticker_info['info'].apply(pd.Series)], axis=1)
ticker_data

,ticker,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,companyOfficers,...,pegRatio,lastCapGain,shortPercentOfFloat,sharesShortPriorMonth,impliedSharesOutstanding,category,fiveYearAverageReturn,regularMarketPrice,logo_url,address2
0,A,95051,Healthcare,16400,"Agilent Technologies, Inc. provides applicatio...",Santa Clara,800 227 9770,CA,United States,[],...,2.92,None,0.0096,2352823,None,None,None,128.0,https://logo.clearbit.com/agilent.com,NaN
1,AA,15212-5858,Basic Materials,12900,"Alcoa Corporation, together with its subsidiar...",Pittsburgh,412-315-2900,PA,United States,[],...,0.07,None,0.0591,10304058,None,None,None,32.2,https://logo.clearbit.com/alcoa.com,Suite 500

## lets grab some history for each stock as well

In [123]:
df_list = list()
for ticker in ticker_list[:2]:
    data = yfin.download(ticker, group_by="Ticker", period='1mo')
    data['ticker'] = ticker  # add this column becasue the dataframe doesn't contain a column with the ticker
    data['period'] = "1mo"
    df_list.append(data)

# combine all dataframes into a single dataframe
ticker_history_1mo = pd.concat(df_list)
ticker_history_1mo

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,ticker,period
Date,,,,,,,,
2021-03-02,124.570000,125.889999,123.169998,123.639999,123.639999,1267300,A,1mo
2021-03-03,122.779999,122.779999,119.250000,119.300003,119.300003,1612400,A,1mo
2021-03-04,118.690002,118.830002,113.339996,114.989998,114.989998,2724500,A,1mo
2021-03-05,115.879997,116.190002,112.470001,116.139999,116.139999,2441500,A,1mo
2021-03-08,116.309998,118.959999,115.269997,116.080002,116.080002,2766600,A,1mo
2021-03-09,117.870003,121.389999,117.540001,119.839996,119.839996,2291100,A,1mo
2021-03-10,120.589996,122.209999,119.690002,119.989998,119.989998,1934600,A,1mo
2021-03-11,121.419998,122.919998,120.900002,121.830002,121.830002,1818700,A,1mo
2021-03-12,120.570000,122.029999,119.279999,121.440002,121.440002,1368700,A,1mo
2021-03-15,120.919998,124.279999,120.339996,124.040001,124.040001,1230000,A,1mo
2021-03-16,124.750000,125.309998,122.449997,123.000000,123.000000,1306500,A,1mo
2021-03-17,122.339996,123.110001,121.500000,122.519997,122.519997,1370800,A,1mo
2021-03-18,123.599998,123.940002,122.129997,122.589996,122.589996,2067500,A,1mo
2021-03-19,122.870003,123.500000,121.510002,122.690002,122.690002,2597000,A,1mo
2021-03-22,122.169998,123.830002,121.720001,123.610001,123.610001,1772900,A,1mo
2021-03-23,123.150002,124.230003,121.470001,121.980003,121.980003,1338300,A,1mo
2021-03-24,122.120003,122.959999,120.739998,120.839996,120.839996,1477500,A,1mo
2021-03-25,120.860001,122.330002,119.879997,121.900002,121.900002,967300,A,1mo
2021-03-26,122.540001,125.709999,122.029999,125.639999,125.639999,1441900,A,1mo
2021-03-29,124.879997,125.820000,123.739998,125.419998,125.419998,1539700,A,1mo
2021-03-30,124.610001,125.699997,124.410004,124.839996,124.839996,1033700,A,1mo
2021-03-31,125.949997,128.479996,125.949997,127.139999,127.139999,1815500,A,1mo
2021-04-01,128.000000,128.300003,127.010002,127.690002,127.690002,1126400,A,1mo
2021-03-02,26.200001,27.860001,26.200001,27.500000,27.500000,8526800,AA,1mo
2021-03-03,28.900000,31.370001,28.520000,30.830000,30.830000,17550200,AA,1mo
2021-03-04,29.715000,30.389999,27.360001,28.590000,28.590000,10353800,AA,1mo
2021-03-05,29.230000,30.504999,27.410000,28.990000,28.990000,7773400,AA,1mo
2021-03-08,29.650000,30.170000,28.400000,28.469999,28.469999,4978700,AA,1mo
2021-03-09,28.990000,30.049999,28.200001,29.940001,29.940001,7549700,AA,1mo
2021-03-10,30.340000,32.419998,30.340000,31.980000,31.980000,7917400,AA,1mo
2021-03-11,32.299999,32.872002,31.690001,32.160000,32.160000,6254900,AA,1mo
2021-03-12,31.889999,32.480000,31.280001,31.510000,31.510000,4729200,AA,1mo
2021-03-15,31.450001,31.680000,30.340000,31.040001,31.040001,4532200,AA,1mo
2021-03-16,30.750000,30.785000,29.290001,29.520000,29.520000,5030100,AA,1mo
2021-03-17,30.170000,31.809999,30.040001,31.809999,31.809999,6793000,AA,1mo
2021-03-18,31.660000,33.450001,30.930000,31.190001,31.190001,6723700,AA,1mo
2021-03-19,31.129999,31.620001,30.070000,31.139999,31.139999,6922100,AA,1mo
2021-03-22,31.230000,31.420000,30.080000,30.430000,30.430000,3552300,AA,1mo
2021-03-23,28.389999,29.250000,27.110001,27.420000,27.420000,8474600,AA,1mo
2021-03-24,29.719999,30.480000,28.590000,28.760000,28.760000,9127500,AA,1mo
2021-03-25,28.030001,29.764999,27.549999,29.660000,29.660000,6403000,AA,1mo
2021-03-26,30.410000,32.799999,30.150000,32.779999,32.779999,9567200,AA,1mo
2021-03-29,32.450001,33.990002,31.855000,32.040001,32.040001,8276200,AA,1mo
2021-03-30,32.150002,33.049999,31.340000,32.970001,32.970001,6286700,AA,1mo
2021-03-31,33.660000,34.290001,32.110001,32.490002,32.490002,7236600,AA,1mo
2021-04-01,32.200001,32.580002,31.490000,32.230000,32.230000,5482100,AA,1mo

In [124]:
df_list = list()
for ticker in ticker_list[:2]:
    data = yfin.download(ticker, group_by="Ticker", period='3mo')
    data['ticker'] = ticker  # add this column becasue the dataframe doesn't contain a column with the ticker
    data['period'] = "3mo"
    df_list.append(data)

# combine all dataframes into a single dataframe
ticker_history_3mo = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [126]:
df_list = list()
for ticker in ticker_list[:2]:
    data = yfin.download(ticker, group_by="Ticker", period='6mo')
    data['ticker'] = ticker  # add this column becasue the dataframe doesn't contain a column with the ticker
    data['period'] = "6mo"
    df_list.append(data)

# combine all dataframes into a single dataframe
ticker_history_6mo = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [127]:
df_list = list()
for ticker in ticker_list[:2]:
    data = yfin.download(ticker, group_by="Ticker", period='1y')
    data['ticker'] = ticker  # add this column becasue the dataframe doesn't contain a column with the ticker
    data['period'] = "1y"
    df_list.append(data)

# combine all dataframes into a single dataframe
ticker_history_1y = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [128]:
df_list = list()
for ticker in ticker_list[:2]:
    data = yfin.download(ticker, group_by="Ticker", period='2y')
    data['ticker'] = ticker  # add this column becasue the dataframe doesn't contain a column with the ticker
    data['period'] = "2y"
    df_list.append(data)

# combine all dataframes into a single dataframe
ticker_history_2y = pd.concat(df_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [129]:
## wrapping all together
ticker_history_all = ticker_history_1mo.append([ticker_history_3mo, ticker_history_6mo, ticker_history_1y, ticker_history_2y])
ticker_history_all

,Open,High,Low,Close,Adj Close,Volume,ticker,period
Date,,,,,,,,
2021-03-02,124.570000,125.889999,123.169998,123.639999,123.639999,1267300.0,A,1mo
2021-03-03,122.779999,122.779999,119.250000,119.300003,119.300003,1612400.0,A,1mo
2021-03-04,118.690002,118.830002,113.339996,114.989998,114.989998,2724500.0,A,1mo
2021-03-05,115.879997,116.190002,112.470001,116.139999,116.139999,2441500.0,A,1mo
2021-03-08,116.309998,118.959999,115.269997,116.080002,116.080002,2766600.0,A,1mo
...,...,...,...,...,...,...,...,...
2021-03-26,30.410000,32.799999,30.150000,32.779999,32.779999,9567200.0,AA,2y
2021-03-29,32.450001,33.990002,31.855000,32.040001,32.040001,8276200.0,AA,2y
2021-03-30,32.150002,33.049999,31.340000,32.970001,32.970001,6286700.0,AA,2y
2021-03-31,33.660000,34.290001,32.110001,32.490002,32.490002,7236600.0,AA,2y
2021-04-01,32.200001,32.580002,31.490000,32.230000,32.230000,5482100.0,AA,2y

## Lets get the 1 month trends for each stock to understand if there are any sector trends

## lets just use the tickers from above source and find something else for pulling in news

## news from yahoo finance. We can only pull 3 articles :(

In [120]:
ticker = 'AAPL'

In [121]:
pt1 = 'https://finance.yahoo.com/quote/'
pt2 = '?p='
pt3 = '&.tsrc=fin-srch'
url = pt1 + ticker + pt2 + ticker + pt3
print(url)

https://finance.yahoo.com/quote/AAPL?p=AAPL&.tsrc=fin-srch

In [123]:
pt1 = 'https://finance.yahoo.com/quote/'
pt2 = '?p='
pt3 = '&.tsrc=fin-srch'
url = pt1 + ticker + pt2 + ticker + pt3

r = requests.get(url)
data = html.fromstring(r.text)

# Xpath
alldata =[]

#time.sleep(2)

for i in data.xpath("//li[contains(@class,'js-stream-content Pos(r)')]"):
    stock = i.xpath('div/div/div[2]/h3/a/text()')
    #url = i.xpath('a/@href')[0]
    #year = i.xpath('span[2]/text()')   
    #print(title, url, year)
    alldata.append([stock])
    
len(alldata)

3

In [119]:
pt1 = 'https://finance.yahoo.com/quote/'
pt2 = '?p='
pt3 = '&.tsrc=fin-srch'
url = pt1 + ticker + pt2 + ticker + pt3

r = requests.get(url)
data = html.fromstring(r.text)

# Xpath
alldata =[]

for i in data.xpath("//li[@class='js-stream-content Pos(r)']"):
    stock = i.xpath('div/div/div[2]/h3/a/text()')
    #url = i.xpath('a/@href')[0]
    #year = i.xpath('span[2]/text()')   
    #print(title, url, year)
    alldata.append([stock])
    
len(alldata)

3

In [118]:
alldata

[[['Dow Jones Futures: Market Rally Looks To Extend Gains With 5 Stocks In Buy Zones; Tesla, Nio Story Time Over']],
 [['Is GM Stock A Buy? General Motors Rebounds Bullishly Amid Deeper FedEx Ties']],
 [["Elon Musk Tweets Tesla Will Be Bigger Than Apple 'In A Few Months', Then Deletes Tweet"]]]

## Google News

In [ ]:
https://news.google.com/search?q=AAPL&hl=en-US&gl=US&ceid=US%3Aen

https://news.google.com/search?q=TSLA&hl=en-US&gl=US&ceid=US%3Aen

In [78]:
first_part = 'https://news.google.com/search?q='
ticker_desc = 'AAPL'
second_part = '&hl=en-US&gl=US&ceid=US%3Aen'

url = first_part + ticker_desc + second_part
print(url)
request = requests.get(url)
#r = requests.get('https://www.marketwatch.com/investing/stock/AAPL')
data = html.fromstring(request.text)

# Xpath
alldata =[]

for i in data.xpath("//div[@class='NiLAwe y6IFtc R7GTQ keNKEd j7vNaf nID9nc']"):
    stock = i.xpath('div/h3/a/text()')
    url = i.xpath('div/h3/a/@href')
    #year = i.xpath('span[2]/text()')   
    #print(title, url, year)
    alldata.append([stock, url])
    
len(alldata)

https://news.google.com/search?q=AAPL&hl=en-US&gl=US&ceid=US%3Aen

94

In [ ]:
//*[@id="yDmH0d"]/c-wiz[3]/div/div[2]/div[2]/div/main/c-wiz/div[1]/div[1]

In [79]:
alldata

[[[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []],
 [[], []]]

## lets try marketwatch

In [61]:
ticker_desc = 'AAPL'

In [62]:
url = 'https://www.marketwatch.com/investing/stock/' + ticker_desc
request = requests.get(url)
#r = requests.get('https://www.marketwatch.com/investing/stock/AAPL')
data = html.fromstring(request.text)

# Xpath
alldata =[]

for i in data.xpath("//div[contains(@class,'element element--article')]"):
    stock = i.xpath('div/h3/a/text()')
    url = i.xpath('div/h3/a/@href')
    #year = i.xpath('span[2]/text()')   
    #print(title, url, year)
    alldata.append([stock, url])
    
len(alldata)

48

In [63]:
df = pd.DataFrame(alldata)
df.head(2)

,0,1
0,[\n \n ...,[https://www.marketwatch.com/articles/alphabet...
1,[\n \n ...,[https://www.marketwatch.com/articles/the-case...

In [64]:
df[0]=df[0].str[0]
df[1]=df[1].str[0]
df = df.rename(columns = {0: 'title', 1: 'url'})
df.head(2)

,title,url
0,\n \n ...,https://www.marketwatch.com/articles/alphabet-...
1,\n \n ...,https://www.marketwatch.com/articles/the-case-...

In [65]:
df['title'] = df['title'].astype('str')
df['title'] = df.title.str.strip()
df.head()

,title,url
0,Alphabet Stock Can Be Had for a Discount. Here...,https://www.marketwatch.com/articles/alphabet-...
1,There’s a New Growth Area in Tech. Pay Attenti...,https://www.marketwatch.com/articles/the-case-...
2,The Meme Stock Trade Is Far From Over. What In...,https://www.marketwatch.com/articles/the-meme-...
3,"Look Out Alphabet, Amazon, and Apple: Biden Ta...",https://www.marketwatch.com/articles/biden-big...
4,"Apple Inc. stock rises Friday, outperforms market",https://www.marketwatch.com/story/apple-inc-st...

In [66]:
df = df[df["title"].str.contains("nan")==False]
df.head(20)

,title,url
0,Alphabet Stock Can Be Had for a Discount. Here...,https://www.marketwatch.com/articles/alphabet-...
1,There’s a New Growth Area in Tech. Pay Attenti...,https://www.marketwatch.com/articles/the-case-...
2,The Meme Stock Trade Is Far From Over. What In...,https://www.marketwatch.com/articles/the-meme-...
3,"Look Out Alphabet, Amazon, and Apple: Biden Ta...",https://www.marketwatch.com/articles/biden-big...
4,"Apple Inc. stock rises Friday, outperforms market",https://www.marketwatch.com/story/apple-inc-st...
5,A Tesla ‘death cross’ has appeared for the fir...,https://www.marketwatch.com/story/a-tesla-deat...
6,Falling Bond Yields Used to Be Good for the Na...,https://www.marketwatch.com/articles/bond-yiel...
7,Apple Inc. stock underperforms Thursday when c...,https://www.marketwatch.com/story/apple-inc-st...
8,3 Key Things to Know About the Google App Stor...,https://www.marketwatch.com/articles/google-pl...
9,"China is cracking down on its own tech giants,...",https://www.marketwatch.com/story/china-is-cra...
10,Apple Is Next: Why State and Federal Lawsuits ...,https://www.marketwatch.com/articles/apple-is-...
11,36 States File Suit Against Google for Antitru...,https://www.marketwatch.com/articles/google-an...
13,Apple stock notches first record close since J...,https://www.marketwatch.com/story/apple-stock-...
14,Apple Stock Hits All-Time High as Market Cap T...,https://www.marketwatch.com/articles/apple-sha...
15,Apple Inc. stock outperforms market on strong ...,https://www.marketwatch.com/story/apple-inc-st...
16,"When Big Tech Stumbles, the Market Can Fall Ha...",https://www.marketwatch.com/articles/big-tech-...
17,"Home Depot, Apple Inc. share gains lead Dow's ...",https://www.marketwatch.com/story/home-depot-a...
18,"AMC Stock Is Dropping, Apple Is Trading a Reco...",https://www.marketwatch.com/articles/amc-didi-...
19,Apple: Why It ‘Has to’ Keep Raising iPhone Prices,https://www.marketwatch.com/articles/apple-why...
24,"3 Reasons to Buy Roku, and 1 Reason to Avoid It",https://www.fool.com/investing/2021/07/10/3-re...

In [67]:
for article in df['url']:
    print(article)

https://www.marketwatch.com/articles/alphabet-stock-discount-51625588865?mod=mw_quote_news
https://www.marketwatch.com/articles/the-case-for-network-monitoring-tools-and-unpacking-apples-app-store-risk-51625867520?mod=mw_quote_news
https://www.marketwatch.com/articles/the-meme-stock-trade-is-far-from-over-what-investors-need-to-know-51625875247?mod=mw_quote_news
https://www.marketwatch.com/articles/biden-big-tech-executive-order-51625853683?mod=mw_quote_news
https://www.marketwatch.com/story/apple-inc-stock-rises-friday-outperforms-market-01625862708-4160a0b12b13?mod=mw_quote_news
https://www.marketwatch.com/story/a-tesla-death-cross-is-coming-the-first-in-more-than-2-years-11625771674?mod=mw_quote_news
https://www.marketwatch.com/articles/bond-yields-stock-market-nasdaq-tech-51625759540?mod=mw_quote_news
https://www.marketwatch.com/story/apple-inc-stock-underperforms-thursday-when-compared-to-competitors-01625776307-23730b68e2ca?mod=mw_quote_news
https://www.marketwatch.com/articles/google-play-store-lawsuit-51625771327?mod=mw_quote_news
https://www.marketwatch.com/story/china-is-cracking-down-on-its-own-tech-giants-but-apple-and-the-u-s-ipo-market-could-pay-the-price-11625765133?mod=mw_quote_news
https://www.marketwatch.com/articles/apple-is-next-why-state-and-federal-lawsuits-over-the-app-store-are-inevitable-51625763110?mod=mw_quote_news
https://www.marketwatch.com/articles/google-antitrust-lawsuit-51625704769?mod=mw_quote_news
https://www.marketwatch.com/story/apple-stock-on-track-for-first-record-close-since-january-11625677673?mod=mw_quote_news
https://www.marketwatch.com/articles/apple-shares-on-track-for-record-close-as-market-cap-tops-2-4-trillion-51625685388?mod=mw_quote_news
https://www.marketwatch.com/story/apple-inc-stock-outperforms-market-on-strong-trading-day-01625689912-c7419bf3fd0f?mod=mw_quote_news
https://www.marketwatch.com/articles/big-tech-stocks-risk-funds-51625257865?mod=mw_quote_news
https://www.marketwatch.com/story/home-depot-apple-inc-share-gains-lead-dow-s-89-point-jump-01625672828?mod=mw_quote_news
https://www.marketwatch.com/articles/amc-didi-big-tech-stock-market-today-51625661767?mod=mw_quote_news
https://www.marketwatch.com/articles/apple-why-it-has-to-keep-raising-iphone-prices-1523890801?mod=mw_quote_news
https://www.fool.com/investing/2021/07/10/3-reasons-to-buy-roku-and-1-reason-to-avoid-it/?source=djc&utm_source=djc&utm_medium=feed&utm_campaign=article&mod=mw_quote_news
https://www.fool.com/investing/2021/07/10/stock-market-crash-likely-3-winning-stocks-to-buy/?source=djc&utm_source=djc&utm_medium=feed&utm_campaign=article&mod=mw_quote_news
https://www.fool.com/investing/2021/07/09/a-look-at-the-2021-ipo-market/?source=djc&utm_source=djc&utm_medium=feed&utm_campaign=article&mod=mw_quote_news
http://www.zacks.com/stock/news/1759951/etf-strategies-to-combat-the-rising-delta-strain-concerns?cid=CS-MKTWTCH-HL-etf_news_and_commentary-1759951&mod=mw_quote_news
https://investorplace.com/2021/07/7-super-safe-dividend-stocks-to-buy/?mod=mw_quote_news
https://www.fool.com/investing/2021/07/09/2-top-5g-stocks-that-are-screaming-buys-right-now/?source=djc&utm_source=djc&utm_medium=feed&utm_campaign=article&mod=mw_quote_news
https://investorplace.com/2021/07/the-7-best-tech-stocks-to-buy-in-july/?mod=mw_quote_news
http://www.zacks.com/stock/news/1759743/godaddy-gddy-unveils-list-for-sale-bolsters-domain-portfolio?cid=CS-MKTWTCH-HL-analyst_blog|company_news_tech_sector-1759743&mod=mw_quote_news
http://www.zacks.com/stock/news/1759736/netflix-nflx-expands-content-deal-with-producer-shonda-rhimes?cid=CS-MKTWTCH-HL-analyst_blog|company_news_-_corporate_actions-1759736&mod=mw_quote_news
https://www.fool.com/investing/2021/07/09/top-10-cloud-stocks-to-buy-on-the-next-dip-part-ii/?source=djc&utm_source=djc&utm_medium=feed&utm_campaign=article&mod=mw_quote_news
http://www.zacks.com/stock/news/1759707/simulations-plus-slp-to-post-q3-earnings-whats-in-store?cid=CS-MKTWTCH-HL-analyst_blog|earnings_preview-1759707&mod=mw_quote_news
http://feedproxy.google.com/~r/247wallst_partners/~3/jLWYi7h5gcI/?mod=mw_quote_news
http://www.zacks.com/stock/news/1759567/if-you-invested-%241000-in-apple-10-years-ago-this-is-how-much-youd-have-now?cid=CS-MKTWTCH-HL-tale_of_the_tape|investing_$1000-1759567&mod=mw_quote_news
http://feedproxy.google.com/~r/247wallst_partners/~3/qhdGwcIkSWs/?mod=mw_quote_news
https://www.fool.com/investing/2021/07/09/1-faang-stock-to-buy-for-the-second-half-of-2021/?source=djc&utm_source=djc&utm_medium=feed&utm_campaign=article&mod=mw_quote_news
https://www.fool.com/investing/2021/07/09/the-smartest-stocks-to-buy-with-500-right-now/?source=djc&utm_source=djc&utm_medium=feed&utm_campaign=article&mod=mw_quote_news
https://investorplace.com/2021/07/7-must-see-stock-charts-that-spell-more-upside/?mod=mw_quote_news
http://www.zacks.com/stock/news/1759446/3-dividend-paying-stocks-to-buy-in-q3-for-long-term-growth?cid=CS-MKTWTCH-HL-stocks_in_the_news|investment_ideas-1759446&mod=mw_quote_news
http://www.zacks.com/stock/news/1759399/best-stocks-etfs-for-your-roth-ira?cid=CS-MKTWTCH-HL-etf_spotlight-1759399&mod=mw_quote_news
https://investorplace.com/2021/07/7-undervalued-stocks-to-buy-for-july-2021/?mod=mw_quote_news

In [69]:
df_test = df.head(5)

In [71]:
import time

article_text = []

for article in df_test['url']:
    data = html.fromstring(requests.get(article).text)

    time.sleep(3)

    for j in data.xpath("//div[@id='js-article__body']"):
        text = j.xpath("p/text()")
        article_text.append([text])

len(article_text)

5

In [72]:
article_text

[[['A quirk in the relationship between the two publicly traded classes of \n        ',
   '\n       stock has resulted in the nonvoting shares, whose ticker is GOOG, trading at a premium of 3% to the voting stock, whose ticker is GOOGL.',
   '\xa0For investors bullish on the outlook for the search giant, the class A voting stock may be the better bet. Alphabet’s nonvoting class C shares (ticker: GOOG) were up $4.21, to $2,578.59, on Tuesday, a premium of about $77 a share to the class A voting shares (GOOGL), which were down $3.33, to $2,501.82.']],
 [['One of the challenges of modern enterprise computing is keeping track of what’s going on inside your network. Cutting-edge information-technology systems are a messy brew of public clouds, private clouds, old-school data centers, third-party apps, edge computing, and mobile workers. Keeping tabs on what’s working—and what isn’t—is a gigantic challenge. The good news for investors is that the result is an enormous emerging market.']],
 [['It seemed to be only a matter of time.',
   'When \n        ',
   '\n       (ticker: GME), \n        ',
   '\n       (BB), and even the desiccated carcass of \n        ',
   '\n       suddenly sprang to life in January, the clock was already ticking for when they would crash again. Would it be hours, days, or weeks?']],
 [['President Joe Biden’s administration is taking a big swing at Big Tech. ',
   'Biden signed ',
   ' late Friday that will establish a Federal Trade Commission policy to more closely scrutinize mergers by dominant internet platforms, especially those seeking to buy growing competitors, those offering free products, or accumulating large amounts of data.']],
 [['Shares of Apple Inc. \n        ',
   '\n       rose 1.31% to $145.11 Friday, on what proved to be an all-around great trading session for the stock market, with the NASDAQ Composite Index \n        ',
   '\n       rising 0.98% to 14,701.92 and the Dow Jones Industrial Average \n        ',
   '\n       rising 1.30% to 34,870.16. Apple Inc. hit a new 52-week high, surpassing its previous peak of $145.09, which the company achieved on January 25th. ',
   'The stock outperformed some of its competitors Friday, as Microsoft Corp. \n        ',
   '\n       rose 0.19% to $277.94, Alphabet Inc. Cl A \n        ',
   '\n       rose 0.38% to $2,510.37, and International Business Machines Corp. \n        ',
   '\n       rose 0.55% to $141.52. Trading volume (99.2 M) eclipsed its 50-day average volume of 80.6 M.']]]

## stockanalysis.com/stocks/ ticker scraping

In [20]:
def get_tickers():

    """
    ## This function is for scraping the available stock tickers from the website https://stockanalysis.com/stocks/.
    ## We will be using a web scraping technique "xpath". This is essentially reading a websites html code and getting the elements you want.
    """

    web = "https://stockanalysis.com/stocks/"
    driver = webdriver.Chrome(r'C:\Users\rober\Anaconda3\bin\chromedriver')
    driver.get(web)
    sel = Select(driver.find_element_by_xpath('//select[@name="perpage"]'))
    sel.select_by_visible_text("10000")

    time.sleep(5)

    ticker_list = []
    company_name_list = []
    industry_list = []

    ## starting to find elements
    ticker = driver.find_elements_by_xpath('//*[@id="main"]/div/div/div[2]/table/tbody/tr/td[1]/a')
    for a in range(len(ticker)):
        ticker_list.append(ticker[a].text)

    company_name = driver.find_elements_by_xpath('//*[@id="main"]/div/div/div[2]/table/tbody/tr/td[2]')
    for b in range(len(company_name)):
        company_name_list.append(company_name[b].text)

    industry = driver.find_elements_by_xpath('//*[@id="main"]/div/div/div[2]/table/tbody/tr/td[3]')
    for c in range(len(industry)):
        industry_list.append(industry[c].text)

    ## Creating dataframes so I can join this all together
    ticker_df = pd.DataFrame(ticker_list)
    company_name_df = pd.DataFrame(company_name_list)
    industry_df = pd.DataFrame(industry_list)
    big_df = pd.concat([ticker_df, company_name_df, industry_df], axis=1)

    return big_df

In [33]:
def clean_tickers(big_df):

    """
    ## This function is for cleaning the original list of tickers. There are some items from the list that are either not legit tickers that we remove here.
    ## The last part of this function is creating a dataframe that we then use to create some additional features to help with searching.
    """

    ## creating a couple new columns to create a link and full searchable stock name plus ticker to help with app search.
    big_df.columns = ['ticker', 'company_name', 'industry']
    big_df['full'] = big_df['ticker'] + " - " + big_df['company_name']
    big_df['url'] = "https://stockanalysis.com/stocks/" + big_df['ticker'] + "/"
    big_df['full'] = big_df['full'].astype('str')
    big_df['ticker'] = big_df.ticker.str.strip()

    ## create csv to use for streamlit app
    big_df.to_csv('tickers_only.csv')

    return big_df

big_df = get_tickers()
ticker_df = clean_tickers(big_df)

In [34]:
big_df

,ticker,company_name,industry,full,url
0,A,Agilent Technologies,Diagnostics & Research,A - Agilent Technologies,https://stockanalysis.com/stocks/A/
1,AA,Alcoa,Aluminum,AA - Alcoa,https://stockanalysis.com/stocks/AA/
2,AAC,Ares Acquisition,Shell Companies,AAC - Ares Acquisition,https://stockanalysis.com/stocks/AAC/
3,AACG,ATA Creativity Global,Education & Training Services,AACG - ATA Creativity Global,https://stockanalysis.com/stocks/AACG/
4,AADI,Aadi Bioscience,Biotechnology,AADI - Aadi Bioscience,https://stockanalysis.com/stocks/AADI/
...,...,...,...,...,...
5873,ZWRK,Z-Work Acquisition,Shell Companies,ZWRK - Z-Work Acquisition,https://stockanalysis.com/stocks/ZWRK/
5874,ZY,Zymergen,Chemicals,ZY - Zymergen,https://stockanalysis.com/stocks/ZY/
5875,ZYME,Zymeworks,Biotechnology,ZYME - Zymeworks,https://stockanalysis.com/stocks/ZYME/
5876,ZYNE,Zynerba Pharmaceuticals,Drug Manufacturers-Specialty & Generic,ZYNE - Zynerba Pharmaceuticals,https://stockanalysis.com/stocks/ZYNE/
5877,ZYXI,Zynex,Medical Devices,ZYXI - Zynex,https://stockanalysis.com/stocks/ZYXI/

In [25]:
big_df[big_df['company_name'] == 'Apple']

,ticker,company_name,industry,full,url
13,AAPL,Apple,Consumer Electronics,AAPL - Apple,https://stockanalysis.com/stocks/AAPL/

In [9]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.by import By

In [30]:
web = "https://stockanalysis.com/stocks/aapl/"
driver = webdriver.Chrome(r'C:\Users\rober\Anaconda3\bin\chromedriver')
driver.get(web)
sel = Select(driver.find_element_by_xpath('//select[@name="perpage"]'))
sel.select_by_visible_text("10000")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//select[@name="perpage"]"}
  (Session info: chrome=92.0.4515.159)

In [47]:
import time

final_df = pd.DataFrame(columns = ['past_month_movement', 'price_target', 'one_year_range', 'dividend', 'pe_ratio', 'eps', 'url'])

start = time.time()

for i in big_df['url'][:100]:

    
    try:
        web = i
        driver = webdriver.Chrome(r'C:\Users\rober\Anaconda3\bin\chromedriver')
        driver.get(web)

        element = driver.find_element(By.XPATH, '//li[3]/button')
        element.click()

        time.sleep(2)

        past_month_list = []
        price_target_list = []
        one_yr_range_list = []
        dividend_list = []
        pe_ratio_list = []
        eps_list = []
        ticker_list = []

        ## starting to find elements
        past_month = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div[1]/div/div[1]/div/span[1]')
        past_month_list.append(past_month.text)

        price_target = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div[2]/table[2]/tbody/tr[8]/td[2]')
        price_target_list.append(price_target.text)

        one_yr_range = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div[2]/table[2]/tbody/tr[5]/td[2]')
        one_yr_range_list.append(one_yr_range.text)

        dividend = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div[2]/table[1]/tbody/tr[8]/td[2]')
        dividend_list.append(dividend.text)

        pe_ratio = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div[2]/table[1]/tbody/tr[6]/td[2]')
        pe_ratio_list.append(pe_ratio.text)

        eps = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div[2]/table[1]/tbody/tr[5]/td[2]')
        eps_list.append(eps.text)

        ticker_list.append(i)

        ## Creating dataframes so I can join this all together
        past_month_df = pd.DataFrame(past_month_list)
        price_target_df = pd.DataFrame(price_target_list)
        one_yr_range_df = pd.DataFrame(one_yr_range_list)
        dividend_df = pd.DataFrame(dividend_list)
        pe_ratio_df = pd.DataFrame(pe_ratio_list)
        eps_df = pd.DataFrame(eps_list)
        ticker_url_df = pd.DataFrame(ticker_list)
        all_df = pd.concat([past_month_df, price_target_df, one_yr_range_df, dividend_df, pe_ratio_df, eps_df, ticker_url_df], axis=1)
        all_df.columns = ['past_month_movement', 'price_target', 'one_year_range', 'dividend', 'pe_ratio', 'eps', 'url']

        final_df = final_df.append(all_df)
        driver.close()

    except Exception as e:
        driver.close()
        print("Error:")
        print(e)

end = time.time()
print(end - start)

len(final_df)

Error:
Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="main"]/div[2]/div[1]/div/div[1]/div/span[1]"}
  (Session info: chrome=92.0.4515.159)

Error:
Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="main"]/div[2]/div[1]/div/div[1]/div/span[1]"}
  (Session info: chrome=92.0.4515.159)

668.134149312973

98

In [ ]:
final_df['price_target'][final_df['price_target'].find("(")+1:final_df['price_target'].find(")")]

In [75]:
import re

final_df_clean = final_df.copy()
final_df_clean['movement_ind'] = final_df_clean['past_month_movement'].str[0]
final_df_clean['past_month_movement_clean'] = final_df_clean['past_month_movement'].str[:-1]
#final_df_clean['past_month_movement_clean'] = final_df_clean['past_month_movement'].str[1:-1]
#final_df_clean['past_month_movement_clean'] = final_df_clean['past_month_movement_clean'].astype(float)

final_df_clean['price_target_clean'] = final_df_clean.price_target.str.extract('.*\((.*)\).*')
final_df_clean['price_target_clean'] = final_df_clean['price_target_clean'].str[:-1]
#final_df_clean['price_target_clean'] = final_df_clean['price_target_clean'].str[1:-1]

split = final_df_clean["one_year_range"].str.split("-", n = 1, expand = True)
final_df_clean['year_low'] = split[0].astype(float)
final_df_clean['year_high'] = split[1].astype(float)
final_df_clean['one_year_range'] = final_df_clean['year_high'] - final_df_clean['year_low']

final_df_clean['dividend_clean'] = final_df_clean.dividend.str.extract('.*\((.*)\).*')
final_df_clean['dividend_clean'] = final_df_clean['dividend_clean'].str[:-1]

final_df_clean

,past_month_movement,price_target,one_year_range,dividend,pe_ratio,eps,url,movement_ind,past_month_movement_clean,price_target_clean,year_low,year_high,dividend_clean
0,+13.23%,173.35 (-2.2%),84.73,$0.76 (0.43%),55.25,3.21,https://stockanalysis.com/stocks/A/,+,+13.23,-2.2,94.84,179.57,0.43
0,+11.79%,49.39 (-0.2%),39.37,$0.36 (0.73%),21.49,2.30,https://stockanalysis.com/stocks/AA/,+,+11.79,-0.2,10.98,50.35,0.73
0,+0.62%,n/a,0.50,n/a,100.62,0.10,https://stockanalysis.com/stocks/AAC/,+,+0.62,NaN,9.50,10.00,NaN
0,-0.69%,n/a,18.69,n/a,n/a,-0.28,https://stockanalysis.com/stocks/AACG/,-,-0.69,NaN,1.06,19.75,NaN
0,+1313.00%,22.00 (-21.2%),29.05,n/a,n/a,-0.41,https://stockanalysis.com/stocks/AADI/,+,+1313.00,-21.2,0.95,30.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,+98.33%,n/a,34.09,n/a,n/a,-0.60,https://stockanalysis.com/stocks/ADGI/,+,+98.33,NaN,20.50,54.59,NaN
0,+0.26%,191.00 (+12.4%),65.73,$2.69 (1.58%),37.19,4.57,https://stockanalysis.com/stocks/ADI/,+,+0.26,+12.4,108.78,174.51,1.58
0,+38.98%,10.00 (+141.5%),3.64,n/a,n/a,-1.04,https://stockanalysis.com/stocks/ADIL/,+,+38.98,+141.5,1.14,4.78,NaN
0,-2.67%,67.54 (+12.8%),25.44,$1.46 (2.44%),14.60,4.10,https://stockanalysis.com/stocks/ADM/,-,-2.67,+12.8,43.45,68.89,2.44
0,-23.87%,6.60 (+454.6%),1.96,n/a,n/a,-0.69,https://stockanalysis.com/stocks/ADMA/,-,-23.87,+454.6,1.15,3.11,NaN

In [56]:
fin_df = big_df.merge(final_df, on= 'url', how = 'inner')
fin_df

,ticker,company_name,industry,full,url,past_month_movement,price_target,one_year_range,dividend,pe_ratio,eps
0,A,Agilent Technologies,Diagnostics & Research,A - Agilent Technologies,https://stockanalysis.com/stocks/A/,+13.23%,173.35 (-2.2%),94.84 - 179.57,$0.76 (0.43%),55.25,3.21
1,AA,Alcoa,Aluminum,AA - Alcoa,https://stockanalysis.com/stocks/AA/,+11.79%,49.39 (-0.2%),10.98 - 50.35,$0.36 (0.73%),21.49,2.30
2,AAC,Ares Acquisition,Shell Companies,AAC - Ares Acquisition,https://stockanalysis.com/stocks/AAC/,+0.62%,n/a,9.50 - 10.00,n/a,100.62,0.10
3,AACG,ATA Creativity Global,Education & Training Services,AACG - ATA Creativity Global,https://stockanalysis.com/stocks/AACG/,-0.69%,n/a,1.06 - 19.75,n/a,n/a,-0.28
4,AADI,Aadi Bioscience,Biotechnology,AADI - Aadi Bioscience,https://stockanalysis.com/stocks/AADI/,+1313.00%,22.00 (-21.2%),0.95 - 30.00,n/a,n/a,-0.41
...,...,...,...,...,...,...,...,...,...,...,...
93,ADGI,Adagio Therapeutics,Biotechnology,ADGI - Adagio Therapeutics,https://stockanalysis.com/stocks/ADGI/,+98.33%,n/a,20.50 - 54.59,n/a,n/a,-0.60
94,ADI,Analog Devices,Semiconductors,ADI - Analog Devices,https://stockanalysis.com/stocks/ADI/,+0.26%,191.00 (+12.4%),108.78 - 174.51,$2.69 (1.58%),37.19,4.57
95,ADIL,Adial Pharmaceuticals,Biotechnology,ADIL - Adial Pharmaceuticals,https://stockanalysis.com/stocks/ADIL/,+38.98%,10.00 (+141.5%),1.14 - 4.78,n/a,n/a,-1.04
96,ADM,Archer Daniels Midland,Farm Products,ADM - Archer Daniels Midland,https://stockanalysis.com/stocks/ADM/,-2.67%,67.54 (+12.8%),43.45 - 68.89,$1.46 (2.44%),14.60,4.10
97,ADMA,ADMA Biologics,Biotechnology,ADMA - ADMA Biologics,https://stockanalysis.com/stocks/ADMA/,-23.87%,6.60 (+454.6%),1.15 - 3.11,n/a,n/a,-0.69